<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('main_bp.login') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <span>¿No tienes una cuenta?</span>
                        <a href="{{ url_for('main_bp.registro') }}" target="_blank" class="text-primary fw-bold">Regístrate</a>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
</div>