<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('user_bp.login') }}">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <span>¿No tienes una cuenta?</span>
                        <a href="{{ url_for('user_bp.registro') }}" class="text-primary fw-bold">Regístrate</a>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
</div>

<script>
function validarLogin() {
  const email = document.getElementById("email").value.trim();
  const password = document.getElementById("password").value.trim();

  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  //const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/;

  if (!emailRegex.test(email)) {
    Swal.fire("Correo inválido", "Por favor ingresa un correo electrónico válido.", "error");
    return false; // Evita que el formulario se envíe
  }
  
  return true; // Si todo es válido, permite el envío
}
</script>


