/venv

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log

# Configuración de editores/IDE
.vscode/

# Archivos de pruebas
.coverage
.pytest_cache/

postgres_data/

#env
.env

.test_mail