{% extends 'base.html' %}

{% block title %} Notas {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/psicologo/style_notas_paciente.css') }}">
{% endblock%}

{% block content %}
    <div class="content">
      <div class="info_paciente">
          <h2>Datos del paciente</h2>
          <div class="datos">
            <h4>
              <span class="label">Nombre:</span>
              <span class="valor">{{ paciente.nombre }}</span>
            </h4>
            <h4>
              <span class="label">Apellido paterno:</span>
              <span class="valor">{{ paciente.paterno }}</span>
            </h4>
            <h4>
              <span class="label">Apellido materno:</span>
              <span class="valor">{{ paciente.materno }}</span>
            </h4>
            <h4>
              <span class="label">Fecha:</span>
              <span class="valor">{{ cita.fecha.strftime('%d/%b/%Y') }}</span>
            </h4>
            <h4>
              <span class="label">Hora:</span>
              <span class="valor">{{ cita.horainicio.strftime('%H:%M') }} - {{ cita.horafin.strftime('%H:%M') }}</span>
            </h4>
          </div>
          <div class="btn">
            <a href="{{ url_for('psicologo_bp.inicio_psicologo') }}">
              <button id="regresar">Regresar</button>
            </a>
            <button id="guardar" type="submit">Guardar</button>
          </div>
      </div>
      <div class="notas_paciente">
        <form method="post">
          <h2>Notas</h2>
          <textarea name="notas" placeholder="Escribe tus observaciones aquí..."></textarea>
        </form>
      </div>
    </div>
{% endblock %}