{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/paciente/style_inicio_paciente.css') }}">
{% endblock %}

{% block title %} Inicio {% endblock %}

{% block content %}

<input type="hidden" id="user_id" value="{{ user.id }}">

<div class="back">
    <a href="{{ url_for('user_bp.inicio') }}">
        <img src="{{ url_for('static', filename='img/back.png') }}">
        <span>Regresar</span>
    </a>

    <h1>¿Qué día te gustaría agendar?</h1>

    <div class="historial">
        <a id="verHistorial" href="#" style="color:teal; font-size:18px; cursor:pointer; text-decoration: underline;">
            Ver historial de citas
        </a>
    </div>

    <div class="leyendas">
        <div class="leyenda-item disponible">
            <span class="cuadro"></span> Lugar disponible
        </div>
        <div class="leyenda-item ocupado">
            <span class="cuadro"></span> Lugar ocupado
        </div>
        <div class="leyenda-item inhabil">
            <span class="cuadro"></span> Día inhábil
        </div>
        <div class="leyenda-item hoy">
            <span class="cuadro"></span> Día de hoy
        </div>
    </div>
</div>

<div id="calendar"></div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/paciente/agendar.js?v=100') }}"></script>

{% endblock %}
