<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css">-->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/paciente/style_inicio_paciente.css') }}">
{% endblock%}

  <script>
    document.addEventListener('DOMContentLoaded', function () 
    {
      const calendarEl = document.getElementById('calendar');
      const calendar = new FullCalendar.Calendar(calendarEl, 
      {
        initialView: 'timeGridWeek',
        locale: 'es',
        dayHeaderFormat: {weekday: 'long', day: 'numeric'},
        allDaySlot: false,
        slotMinTime: '10:00:00',
        slotMaxTime: '21:00:00',
        slotDuration: '01:00:00',
        slotLabelFormat:
        {
          hour: 'numeric',
          hour12: true
        },
        headerToolbar: 
        {
          left: 'prev',
          center: 'title',
          right: 'today next'
        },
        buttonText: 
        {
          today: 'Hoy'
        },
      });
      calendar.render();
    });
  </script>

{% block title %} Inicio {% endblock %}

  {% extends 'base.html' %}

  {% block content %}
  <div class="back">
    <a href="{{ url_for('main_bp.inicio') }}">
      <img src="{{ url_for('static', filename='img/back.png') }}">
      <span>Regresar</span>
    </a>
    <h1>¿Que día te gustaría agendar?</h1>
    <div class="leyendas">
      <div class="leyenda-item disponible">
        <span class="cuadro"></span> Lugar disponible
      </div>
      <div class="leyenda-item ocupado">
        <span class="cuadro"></span> Lugar ocupado
      </div>
      <div class="leyenda-item inhabil">
        <span class="cuadro"></span> Día inhabil
      </div>
      <div class="leyenda-item hoy">
        <span class="cuadro"></span> Día de noy
      </div>
    </div>
  </div>

  <div id='calendar'></div>
{% endblock %}