body
{
    font-family: "Nunito", sans-serif;
}

.formulario 
{
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

h2 
{
  text-align: center;
  margin-bottom: 5px;
  margin-top: 40px;
  font-size: 45px;
  color: #00abb5;
}

#datosPersonales 
{
  border-radius: 8px;
  margin-bottom: 5px;
}

#datosContacto
{
  border-radius: 8px;
  margin-bottom: 10px;
}

#datosCuenta
{
  border-radius: 8px;
}

legend 
{
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 65px;
}

.fila 
{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  margin-left: 65px;
  width: 800px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="password"]
{
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fila label 
{
  display: flex;
  align-items: center;
  gap: 5px;
}

.botones 
{
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-top: 15px;
}

button 
{
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #00abb5;
  color: white;
  cursor: pointer;
}

button[type="button"] 
{
  background-color: #6c757d;
}