.content
{
    display: flex;
    align-items: center;
}

.text
{
    margin-top: 65px;
}

img
{
    margin-top: 60px;
    margin-left: 15%;
    margin-right: 70px;
    width: 400px;
    height: 500px;
}

.content h1
{
    font-family: "Nunito", sans-serif;
    font-size: 45px;
    color: #00abb5;
}

p
{
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 19.5px;
    width: 490px;
    text-align: justify;
}

strong
{
    color: #00abb5;
}