.content
{
    display: flex;
    position: fixed;
    align-items: center;
}

.text
{
    margin-top: 50px;
}

img
{
    margin: 70px;
    margin-top: 110px;
    width: 700px;
    height: 400px;
}

.content h1
{
    font-family: "Nunito", sans-serif;
    font-size: 45px;
    color: #00abb5;
}

p
{
    font-family: "Nunito", sans-serif;
    font-size: 19.5px;
    width: 440px;
    text-align: justify;
}

strong
{
    color: #00abb5;
}