
{% block title %} Quienes somos {% endblock %}
{% block style %}
     <!--Style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_quienesSomos.css') }}">
{% endblock %}
   
{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <img src="{{ url_for('static', filename='img/psicologa.jpg') }}">
        <div class="text">
            <h1>¿Quienes somos?</h1>
            <p><strong>Mind Care</strong> es un espacio diseñado para acompañarte 
            en tu proceso de autoconocimiento, sanación y crecimiento personal, 
            comprometido con ofrecerte un entorno seguro, empático y profesional, 
            donde puedas explorar tus pensamientos, emociones y desafíos sin juicio. 
            <br><br>
            Nos guiamos por valores como la confidencialidad, el respeto y la 
            humanidad, integrando herramientas psicológicas con una experiencia 
            digital accesible y cercana.
            <br><br>
            En <strong>Mind Care</strong>, tu bienestar no es solo una meta: es nuestra prioridad.</p>
        </div>
    </div>
{% endblock %}

