
{% block title %} Registro {% endblock %}

{% block style %}
    <!--Style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_registro.css') }}">
{% endblock %}

{% extends 'base.html' %}

{% block content %}
    <form class="formulario">
        <h2>Datos del paciente</h2>
        <fieldset id="datosPersonales">
            <legend>Datos personales</legend>
            <div class="fila">
                <input type="text" placeholder="Apellido paterno">
                <input type="text" placeholder="Apellido materno">
                <input type="text" placeholder="Nombre(s)">
            </div>
            <div class="fila">
                <input type="text" placeholder="Edad">
                <input type="date" placeholder="Fecha de nacimiento">
                <label>Sexo:</label>
                <label><input type="radio" name="sexo" value="F"> F</label>
                <label><input type="radio" name="sexo" value="M"> M</label>
            </div>
        </fieldset>
        <fieldset id="datosContacto">
            <legend>Datos de contacto</legend>
            <input type="text" placeholder="Dirección">
            <input type="tel" placeholder="Teléfono celular">
        </fieldset>
        <fieldset id="datosCuenta">
            <legend>Datos de cuenta</legend>
            <input type="email" placeholder="Correo electrónico">
            <input type="password" placeholder="Contraseña">
        </fieldset>
        <div class="botones">
            <button type="button">Cancelar</button>
            <button type="submit">Aceptar</button>
        </div>
    </form>
{% endblock %}
