<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubicación</title>
    
    <!--Style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_ubicacion.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="content">
        <h1>Nos encrontramos en</h1>
        <p>Avenida Tecnológico s/n, Colonia Elías Calles, 21376 Mexicali, B.C.</p>
        <img src="{{ url_for('static', filename='img/ubicacion.jpg') }}">
    </div>
    {% endblock %}
    {% include 'public/login.html' %}
</body>

</html>