body {
    font-family: "Nunito", sans-serif;
    margin-top: 80px;
}
h1 {
    color: #00ABB5;
    margin-bottom: 30px;
    text-align: center;
}
h4 {
    color: #00ABB5;
    margin: 10px;
}
.valor {
    color: #333;
}
.expediente
{
    width: 85%;
    margin: 0 auto 50px auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}
.expediente ul {
    list-style-type: disc;
    margin-left: 20px;
}
.expediente li {
    margin-bottom: 10px;
}
.filtro-paciente {
    margin-bottom: 20px;
    text-align: center;
}
.filtro-paciente input[type="email"] {
    padding: 8px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.filtro-paciente button {
    padding: 8px 15px;
    border-radius: 4px;
    border: none;
    background-color: #00ABB5;
    color: white;
    cursor: pointer;
}